<% content_for :title do %>
Monthly Maintenance Report
<% end %>

<p id="notice"><%= notice %></p>

<h1>Monthly Maintenance Report For <%= @seek_month_start.strftime("%B %Y") %></h1>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <td><%= "Vehicle ID" %></td>
    <td><%= "Time Performed" %></td>
    <td><%= "Description" %></td>
    <td><%= "Cost" %></td>
    <tr class="blank_row">
        <td colspan="3"></td>
    </tr>
    <% @maintenance_items.each do |maintenance_item| %>
      <tr>
        <td><%= maintenance_item.vehicle.id %></td>
        <td><%= maintenance_item.maintenance_type.performed_at.strftime("%-m/%-d/%Y %l:%M %p") %></td>
        <td><%= maintenance_item.maintenance_type.description %></td>
        <% if maintenance_item.maintenance_type_type != "RoutineInspection"  %>
        <td>
          <%= maintenance_item.maintenance_type.parts.sum("total_cost") %>
        </td>
        <% else %>
        <td>
          N/A
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div>
<%= link_to 'Back', vehicles_path %>
</div>

<div>
<%= link_to 'Home', controller: "logins", action: "landing" %>
</div>
