<p id="notice"><%= notice %></p>

<table>
  <tbody>
    <tr>
      <td>
        Maintenance Type
      </td>
      <td>
        <% if @maintenance_item.maintenance_type_type == "RepairRecord" %>
          Repair
        <% elsif @maintenance_item.maintenance_type_type == "RoutineMaintenance" %>
          Routine Maintenance
        <% else %>
          Routine Inspection
        <% end %>
      </td>
    <tr>
      <td>
        Time Performed
      </td>
      <td>
        <%= @maintenance_item.maintenance_type.performed_at.strftime("%-m/%-d/%Y %l:%M %p") %>
      </td>
    </tr>
    <tr>
      <td>
        Description
      </td>
      <td style="max-width: 500px">
        <%= @maintenance_item.maintenance_type.description %>
      </td>
    </tr>
  </tbody>
</table>

<div>

<% if @maintenance_item.maintenance_type.class.name != "RoutineInspection" %>
  <%= link_to "Part List", controller: "parts", action: "index", vid: params[:vid], mid: params[:id], v: 0 %> |
<% end %>
<%= link_to 'Edit', controller: "maintenance_items", action: "edit", id: @maintenance_item.id, vid: params[:vid] %> |
<%= link_to 'Back', controller: "maintenance_records", action: "edit", id: Vehicle.find_by(id: params[:vid]).maintenance_record.id, vid: params[:vid] %>
</div>

<%= link_to 'Home', controller: "logins", action: "landing" %>
