<% content_for :title do %>
Show Employee
<% end %>
<p id="notice"><%= notice %></p>
<h1>Employee #<%= @employee.id %></h1>
<table>
  <tbody>
    <tr>
      <td>
        First Name
      </td>
      <td>
        <%= @employee.first_name %>
      </td>
    </tr>
    <tr>
      <td>
        Middle Name
      </td>
      <td>
        <%= @employee.middle_name %>
      </td>
    </tr>
    <tr>
      <td>
        Last Name
      </td>
      <td>
        <%= @employee.last_name %>
      </td>
    </tr>
    <tr>
      <td>
        Home Phone Number
      </td>
      <td>
        <%= "(" + @employee.home_phone[0,3] + ") " + @employee.home_phone[3,3] + "-" + @employee.home_phone[6,4] %>
      </td>
    </tr>
    <tr>
      <td>
        Cell Phone Number
      </td>
      <td>
        <%= "(" + @employee.cell_phone[0,3] + ") " + @employee.cell_phone[3,3] + "-" + @employee.cell_phone[6,4] %>
      </td>
    </tr>
    <tr>
      <td>
        Pay Rate / Hour
      </td>
      <td>
        <%= "$%.2f" % @employee.pay_rate %>
      </td>
    </tr>
    <tr>
      <td>
        Years With Company
      </td>
      <td>
        <%= @employee.years_with_company %>
      </td>
    </tr>
    <tr>
      <td>
        Username
      </td>
      <td>
        <%= @employee.username %>
      </td>
    </tr>
    <tr>
      <td>
        Account Type
      </td>
      <td>
        <%= "Full" if @employee.account_type == EmployeesController::Full %>
        <%= "Shipping" if @employee.account_type == EmployeesController::Shipping %>
        <%= "Maintenance" if @employee.account_type == EmployeesController::Maintenance %>
        <%= "Driver" if @employee.account_type == EmployeesController::Driver %>
      </td>
    </tr>
    <tr>
      <td>
        Address
      </td>
      <td>
        <%= "#{@employee.address.street_number} #{@employee.address.street_name}" %>
      </td>
    </tr>
    <tr>
      <td>
	City/State/Zip
      </td>
      <td>
        <%= "#{@employee.address.city} #{@employee.address.state} #{@employee.address.zip_code}" %>
      </td>
    </tr>
  </tbody>
</table>

<div>
<% if @employee.account_type == EmployeesController::Driver %>
<% s = Shipment.joins(:drivers).where("departed_at <= ? AND arrived_at >= ? AND employee_id = ?", DateTime.now, DateTime.now, @employee.id) %>
<% if s.first != nil %>
<%= link_to 'Current Assignment', controller: "shipments", action: "show", id: s.first.id, eid: @employee.id %> |
<% end %> 
<% end %>
<%= link_to 'Edit', edit_employee_path(@employee) %> |  <%= link_to 'Back', employees_path %></div>

<div>
<%= link_to 'Home', controller: "logins", action: "landing" %>
</div>
