<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation" style="color:red;">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tbody>
      <tr>
        <td>
          <%= f.label :name, "Name" %>
        </td>
        <td>
          <%= f.text_field :name %>
        </td>
      </tr>
      </tr>
      <%= f.fields_for :address do |address_f| %>
      <tr>
        <td>
          <%= address_f.label :street_number, "Street Number" %>
        </td>
        <td>
          <%= address_f.text_field :street_number %>
        </td>
      </tr>
      <tr>
        <td>
          <%= address_f.label :street_name, "Street Name" %>
        </td>
        <td>
          <%= address_f.text_field :street_name %>
        </td>
      </tr>
      <tr>
        <td>
          <%= address_f.label :city, "City" %>
        </td>
        <td>
          <%= address_f.text_field :city %>
        </td>
      </tr>
      <tr>
        <td>
          <%= address_f.label :state, "State" %>
        </td>
        <td>
          <%= address_f.select :state, options_for_select(["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"]) %>
        </td>
      </tr>
      <tr>
        <td>
          <%= address_f.label :zip_code, "Zip Code" %>
        </td>
        <td>
          <%= address_f.text_field :zip_code %>
        </td>
      </tr>
      <% end %>
      <tr>
        <td>
          <%= f.label :archived, "Archived?" %>
        </td>
        <td>
          <%= f.check_box :archived, value: 1 %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.submit %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
