<%= form_for(@shipment) do |f| %>
  <% if @shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

      <ul>
      <% @shipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tbody>
    <% if session[:account_type] != EmployeesController::Driver %>
      <tr>
        <td>
          <%= f.label :departed_at, "Departure Time" %>
        </td>
        <td>
          <%= f.datetime_select :departed_at, ampm: true, prompt: true %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :arrived_at, "Estimated Arrival" %>
        </td>
        <td>
          <%= f.datetime_select :arrived_at, ampm: true, prompt: true %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :is_outgoing, "Outgoing?" %>
        </td>
        <td>
          <%= f.check_box :is_outgoing, value: 1 %>
        </td>
      </tr>
    <% end %>
      <tr>
        <td>
          <%= f.label :has_arrived, "Arrived?" %>
        </td>
        <td>
          <%= f.check_box :has_arrived, value: 1 %>
        </td>
      </tr>
    <% if session[:account_type] != EmployeesController::Driver %>
      <tr>
        <td>
          <%= f.label :payment_received, "Payment Received?" %>
        </td>
        <td>
          <%= f.check_box :payment_received, value: 1 %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :drivers, "Assigned Drivers" %>
        </td>
        <td>
          <%= f.select :drivers, nil, {include_hidden: false}, multiple: true, size: 10 do %>
            <% Employee.where("account_type = ?", EmployeesController::Driver).each do |d| %>
              <%= content_tag :option, "#{d.last_name}, #{d.first_name} #{d.middle_name}", value: d.id %>
            <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :company_id, "Customer" %>
        </td>
        <td>
          <%= f.select :company_id, options_from_collection_for_select(Company.all, "id", "name") %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :vehicle_id, "Vehicle" %>
        </td>
      <% if !(@shipment.vehicle.nil?) %>
        <td>
          <%= f.select :vehicle_id, options_from_collection_for_select(Vehicle.all, "id", "id", @shipment.vehicle.id) %>
        </td>
      <% else %>
        <td>
          <%= f.select :vehicle_id, options_from_collection_for_select(Vehicle.all, "id", "id") %>
        </td>
      <% end %>
      </tr>
   <% end %>
      <tr>
        <td>
          <%= f.label :archived %>
        </td>
        <td>
          <%= f.check_box :archived, value: 1 %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.submit %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
