<% content_for :title do %>
Add Item
<% end %>

<%= form_for @line_item, url: {action: "addItem"}, method: :post do |f| %>
  <% if @line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_item.errors.count, "error") %> prohibited this line item from being saved:</h2>

      <ul>
      <% @line_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tbody>
      <%= f.fields_for :item do |item| %>
      <tr>
        <td>
          <%= item.label(:name, "Name") %>
        </td>
        <td>
          <%= item.text_field(:name) %>
        </td>
      </tr>
      <tr>
        <td>
          <%= item.label(:unit_cost, "Unit Cost") %>
        </td>
        <td>
          <%= item.text_field(:unit_cost) %>
        </td>
      </tr>
      <% end %>
      <tr>
        <td>
          <%= f.label(:quantity) %>
        </td>
        <td>
          <%= f.select(:quantity) do %>
            <% (1..9999).each do |n| %>
              <%= content_tag :option, n.to_s %>
            <% end %>
          <% end %> 
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label(:indicator, "Status") %>
        </td>
        <td>
          <%= f.select(:indicator, options_for_select(["unavailable", "shipped", "backorder"], "shipped")) %>
        </td>
      </tr>
       <%= hidden_field_tag(:sid, params[:sid]) %>
      <tr>
        <td>
          <%= f.submit("Add Line Item") %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>

<div>
<%= link_to "Back", action: "poEdit", sid: params[:sid] %>
</div>
