<% content_for :title do %>
Shipment Details
<% end %>
<p id="notice"><%= notice %></p>

<table>
  <tbody>
    <tr>
      <td>
	<% if @shipment.is_outgoing == 1 %>
        Destination Company
	<% else %>
	Source Company
	<% end %>
      </td>
      <td>
        <%= @shipment.company.name %>
      </td>
    </tr>
    <tr>
      <td>
        Address
      </td>
      <td>
        <%= "#{@shipment.company.address.street_number} #{@shipment.company.address.street_name}" %>
      </td>
    </tr>
    <tr>
      <td>
	City/State/Zip
      </td>
      <td>
        <%= "#{@shipment.company.address.city} #{@shipment.company.address.state} #{@shipment.company.address.zip_code}" %>
      </td>
    </tr>
    <tr>
      <td>
        Departure Time
      </td>
      <td>
        <%= @shipment.departed_at.strftime("%-m/%-d/%Y %l:%M %p") %>
      </td>
    </tr>
    <tr>
      <td>
        Estimated Arrival
      </td>
      <td>
        <%= @shipment.arrived_at.strftime("%-m/%-d/%Y %l:%M %p") %>
      </td>
    </tr>
    <tr>
      <td>
        <%= "Arrived?" %>
      </td>
      <td>
        <% if @shipment.has_arrived == 1 %>
          Yes
        <% else %>
          No
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <%= "Payment Received?" %>
      </td>
      <td>
        <% if @shipment.payment_received == 1 %>
          Yes
        <% else %>
          No
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        Vehicle ID
      </td>
    <% if !(@shipment.vehicle.nil?) %>
      <td>
        <%= @shipment.vehicle.id %>
      </td>
    <% else %>
      <td>
        No Vehicle Assigned Yet
      </td>
    <% end %>
    </tr>
    <tr>
      <td>
        <%= "Drivers" %>
      </td>
    </tr>
    <% @shipment.drivers.each do |d| %>
    <tr>
      <td>
        <%= "&nbsp;&nbsp;&nbsp;#{d.last_name}, #{d.first_name} #{d.middle_name}".html_safe %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<% if !(params[:eid].nil?) %>
  <div>
    <%= link_to "Back To Employee", controller: "employees", action: "show", id: params[:eid] %>
  </div>
<% else %>
  <div>
    <%= link_to "Purchase Order", action: "poEdit", sid: @shipment.id %> |
    <%= link_to 'Edit', edit_shipment_path(@shipment) %> |
    <% if @shipment.is_outgoing == 1 %>
      <%= link_to 'Back', action: "outgoing" %>
    <% else %>
      <%= link_to 'Back', action: "incoming" %>
    <% end %>
  </div>
<% end %>

<%= link_to 'Home', controller: "logins", action: "landing" %>
</div>
