<%= form_for @maintenance_item, action: "update" do |f| %>

  <% if @maintenance_item.maintenance_type.errors.any? %>
    <div id="error_explanation" >
      <h2><%= pluralize(@maintenance_item.maintenance_type.errors.count, "error") %> prohibited this maintenance item from being saved:</h2>

      <ul>
      <% @maintenance_item.maintenance_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tbody>
    <%= f.fields_for :maintenance_type, @maintenance_item.maintenance_type do |mt| %>
    <tr>
      <td>
        <%= mt.label :description %>
      </td>
      <td colspan="2">
        <%= mt.text_area :description %>
      </td>
    </tr>
    <tr>
      <td>
        <%= mt.label :performed_at, "Time Performed" %>
      </td>
      <td>
        <%= mt.datetime_select :performed_at, ampm: true %>
      </td>
    </tr>
    <% end %>
    <%= hidden_field_tag :vid, params[:vid] %>
  </tbody>
</table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
