<p id="notice"><%= notice %></p>

<h1>Listing Routine Inspections</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @routine_inspections.each do |routine_inspection| %>
      <tr>
        <td><%= link_to 'Show', routine_inspection %></td>
        <td><%= link_to 'Edit', edit_routine_inspection_path(routine_inspection) %></td>
        <td><%= link_to 'Destroy', routine_inspection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Routine inspection', new_routine_inspection_path %>

<%= link_to 'Home', controller: "logins", action: "landing" %>
