<p id="notice"><%= notice %></p>

<h1>Listing Parts</h1>

<table>
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Origin
      </th>
    <% if params[:v] == "0" %>
      <th>
        Unit Cost
      </th>
    <% end %>
      <th>
        Quantity
      </th>
    <% if params[:v] == "0" %>
      <th>
        Total Cost
      </th>
    <% end %>
    </tr>
  </thead>

  <tbody>
    <% @parts.each do |part| %>
      <tr>
        <td>
          <%= part.name %>
        </td>
        <td>
          <%= part.where_from %>
        </td>
      <% if params[:v] == "0" %>
        <td>
          <%= "$%.2f" % part.unit_cost %>
        </td>
      <% end %>
        <td>
          <%= part.quantity %>
        </td>
      <% if params[:v] == "0" %>
        <td>
          <%= "$%.2f" % part.total_cost %>
        </td>
      <% end %>
        <td><%= link_to 'Edit', action: "edit", id: part.id, mid: params[:mid], vid: params[:vid], v: params[:v] %></td>
        <td><%= link_to 'Destroy', {action: "destroy", id: part.id, mid: params[:mid], vid: params[:vid], v: params[:v]}, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Add A New Part</h2>

<%= form_for @part, action: "create" do |f| %>
<% if @part.errors.any? %>
  <div id="error_explanation" >
    <h2><%= pluralize(@part.errors.count, "error") %> prohibited this part from being saved:</h2>
    <ul>
    <% @part.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<table>
  <tbody>
    <tr>
      <td>
        <%= f.label :name %>
      </td>
      <td>
        <%= f.text_field :name %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :is_in_stock, "In Stock?" %>
      </td>
      <td>
        <%= f.check_box :is_in_stock, value: 1 %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :where_from, "Origin" %>
      </td>
      <td>
        <%= f.text_field :where_from %>
      </td>
    </tr>
  <% if params[:v] == "0" %>
    <tr>
      <td>
        <%= f.label :unit_cost, "Unit Cost" %>
      </td>
      <td>
        <%= f.text_field :unit_cost %>
      </td>
    </tr>
  <% else %>
    <%= f.hidden_field(:unit_cost, value: "0") %>
  <% end %>
    <tr>
      <td>
        <%= f.label :quantity %>
      </td>
      <td>
        <%= f.select :quantity do %>
          <% (1..999).each do |n| %>
            <%= content_tag :option, n %>
          <% end %>
        <% end %>
      </td>
    </tr>
    <%= hidden_field_tag :vid, params[:vid] %>
    <%= hidden_field_tag :mid, params[:mid] %>
    <%= hidden_field_tag :v, params[:v] %>
    <tr>
      <td>
        <%= f.submit "Create New Part" %>
      </td>
    </tr>
  </tbody>
</table>
<% end %>
<div>
<% if params[:v].to_i == 0 %>
  <%= link_to "Back To Maintenance Item", controller: "maintenance_items", action: "show", id: params[:mid], vid: params[:vid] %>
<% else %>
  <%= link_to "Back To Vehicle", controller: "vehicles", action: "show", id: params[:vid] %>
<% end %>
</div>
<div>
<%= link_to 'Home', controller: "logins", action: "landing" %>
</div>
