<p id="notice"><%= notice %></p>

<p>
  <strong>References:</strong>
  <%= @maintenance_part.references %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @maintenance_part.total_cost %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @maintenance_part.quantity %>
</p>

<%= link_to 'Edit', edit_maintenance_part_path(@maintenance_part) %> |
<%= link_to 'Back', maintenance_parts_path %>

<%= link_to 'Home', controller: "logins", action: "landing" %>
